#Tools{


  #Sexagenary {
    font-weight:700;
  }
  #Calculator .result{
    width: 100%;
    text-align: right;
    font-size: 22px;
  }
  #Calculator #ButtonsLeft,
  #Calculator #ButtonsRight{
    padding:0;
  }
  #Calculator button{
    padding:20px 10px;
    margin:5px 1%;
  }
  #Calculator #ButtonsLeft button{
    width:31.333%;
  }
  #Calculator #ButtonsLeft button:nth-last-of-type(2){
    width:64.6%;
  }
  #Calculator #ButtonsRight button{
    width:98%;
  }





}
