#quoridor {



  .row.justify-content-center{
    min-width:800px;
  }
  #CheckBoard{
    margin:auto;
  }
  #CheckBoard .row{
    display: block;
    white-space: nowrap;
    height:9%;
    margin:2% 0;
  }
  #CheckBoard .row .col{
    display: inline-block;
    width:9%;
    padding-top: 9%;
    margin:0 1%;
  }
  #CheckBoard .row .col div.right,
  #CheckBoard .row .col div.bottom{
    display: block;
    position: absolute;
    border-radius: 6px;
    cursor:pointer;
  }
  #CheckBoard .row .col .active{
    background: #bba60e;
  }
  #CheckBoard .row .col div.right{
    height: 225%;
    width: 20%;
    right: -20%;
    top: 0;
  }
  #CheckBoard .row .col div.bottom{
    height: 20%;
    width: 225%;
    left: 0;
    bottom: -20%;
  }
  /******************** Players *******************/
  #CheckBoard .players span{
    position: absolute;
    height: 80%;
    width: 80%;
    z-index:1;
    background: #c7c71620;
  }
  #CheckBoard .players #main{
    left: 10%;
    top: 10%;
    border-radius: 50%;
    cursor: pointer;
  }
  #CheckBoard .players #top{
    left: 10%;
    top: -100%;
  }
  #CheckBoard .players #right{
    right: -100%;
    top: 10%;
  }
  #CheckBoard .players #bottom{
    left: 10%;
    bottom: -100%;
  }
  #CheckBoard .players #left{
    left: -100%;
    top: 10%;
  }
  #CheckBoard #Player1 #main{
    background: red;
  }
  #CheckBoard #Player2 #main{
    background: blue;
  }
  #DispayBoard{
    padding: 50px 0;
    width: 100%;
  }












}
