
#TextEditor {
  border: 1px solid #ddd;

  #Cotroller{
    background:whitesmoke;
    padding: 5px 10px;
  }
  #Cotroller select#ContentBlock{
    display:inline;
    max-width:300px;
    font-size:20px;
    height: 50px;
  }
  #Cotroller #StyleControls{
    display:inline;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    color: #999;
  }
  #Cotroller #StyleControls span {
    display: inline-block;
    height: 50px;
    cursor: pointer;
    margin: 0 10px;
    vertical-align: baseline;
  }
  #Cotroller #StyleControls span.active {
    color: #5890ff;
  }
  #Cotroller #StyleControls span:before{
    font-family: 'Material Icons';
    font-size: 1.8em;
    transform: translate(2px,8px);
    display: inline-block;
  }
  #Cotroller #StyleControls span#Bold:before{
    content:'format_bold';
  }
  #Cotroller #StyleControls span#Italic:before{
    content:'format_italic';
  }
  #Cotroller #StyleControls span#Underline:before{
    content:'format_underlined';
  }
  #Cotroller #StyleControls span#Monospace:before{
    content:'border_color';
    font-size: 1.5em;
    transform: translate(0,4px);
  }
  #Editor{
    border-top: 1px solid #ddd;
    padding: 10px;
    min-height: 200px;
  }
  #Editor .public-DraftEditorPlaceholder-root{
    position: absolute;
    opacity: 0.5;
  }
  #Editor blockquote{
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  #Editor pre.public-DraftStyleDefault-pre{
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 5px 20px;
  }

}
