#waterfall .images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#waterfall .images img{
  height:200px;
  margin:10px 0;
}


/*************  Loading ************/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #25bcd4;
  border-right: 16px solid gray;
  border-bottom: 16px solid #25bcd4;
  border-left: 16px solid gray;
  width: 80px;
  height: 80px;
  -webkit-animation: loader_spin 2s linear infinite;
  animation: loader_spin 2s linear infinite;
  margin:auto;
}

@-webkit-keyframes loader_spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes loader_spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
