#Home{

  section#Slider2 {
  	overflow: hidden;
  }

  section#Slider2 > div{
  	white-space: nowrap;
  	overflow: visible;
  	position: relative;
  	animation-name: CarouselSlider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  section#Slider2 > div:hover{
  	 animation-play-state: paused;
  }
  @keyframes CarouselSlider {
      0% {left: 0}
      100% { left: calc(-305px * 4); }
  }
  section#Slider2 div div{
  	height: 300px;
  	width: 300px;
      display: inline-block;
  }
  section#Slider2 div div:nth-child(odd){
  	background: tomato;
  }
  section#Slider2 div div:nth-child(even){
  	background: yellowgreen;
  }





}
