#admin #Topbar {
  margin-bottom: 40px;
}
#admin .sidebar{
  font-size:1.2em;
  font-weight:500;
  padding: 0;
  min-height: 100vh;
  background: #f8f9fa;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#admin .sidebar .nav-link{
  color: #333;
}
#admin .sidebar .nav-link.active{
  color: #007bff;
}







#admin #Todos .row {
  text-align: center;
}
#admin #Todos .row ul{
  text-align: left;
}
#admin #Todos h1,
#admin #Todos ul{
  margin-bottom: 10px;
}
#admin #Todos .btn{
  margin: 5px;
}
#admin #Todos li{
  font-size: 20px;
  font-weight: 700;
  cursor:pointer;
}
#admin #Todos li.done{
  color: #28a745;
  font-weight: 300;
}

#admin #Products #filters .row{
  margin:10px 0;
}
